@import 'extensions.scss';

.example-spacer {
  flex: 1 1 auto;
}

.title {
  color: inherit;
  text-decoration: inherit;
  display: block;
  font-size: 1.5vw;
  width: 50px;
  cursor: pointer;
}

mat-toolbar {
  // border: 1px solid red;
  height: 6.5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .game-title {
    text-align: left; 
    font-size: 2vh;
  }

  .center-message {
    text-align: center;
    font-size: 2.5vh;
  }

  .game-name {
      text-align: end;
      font-size: 2vh;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 93.5vh;

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 93.5vh;
      object-fit: cover;
    }
  }
}

.result-container {
  display: grid;
  height: 93.5vh;
  grid-template-areas:
    "winner winner first first"
    "winner winner first first"
    "winner winner second third"
    "winner winner second third";
  row-gap: 1vw;
  column-gap: 1vh;

  .image-text-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 1vh;
    width: 35%;
    position: relative;
    bottom: 55%;
    font-size: 2vh;
    margin: auto;

    .win-count-text {
      font-size: 1.5vh;
    }
  }

  .winner {
    grid-area: winner;
    width: 49.5vw;
    height: 93.5vh;
    @extend .result-img;
  }

  .first {
    grid-area: first;
    width: 49.5vw;
    height: 46.25vh;
    @extend .result-img;
    .image-text-container {
      font-size: 1.3vh;
    }
    .win-count-text {
      font-size: 1vh;
    }
    
  }
  .second {
    grid-area: second;
    width: 24.25vw;
    height: 46.25vh;
    @extend .result-img;
    .image-text-container {
      font-size: 1.3vh;
    }
    .win-count-text {
      font-size: 1vh;
    }
    
  }
  .third {
    grid-area: third;
    width: 24.25vw;
    height: 46.25vh;
    @extend .result-img;
    .image-text-container {
      font-size: 1.3vh;
      margin: auto;
    }
    .win-count-text {
      font-size: 1vh;
    }
  }
}

.confirm-button {
  margin: 10px;
}

