<mat-toolbar>
  <span class="title">Game</span>
  <span class="example-spacer"></span>
  <p class="round-text">Round of {{currentRound}}</p>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Quit and Return Home</span>
    </button>
    <button mat-menu-item>
      <mat-icon>cancel</mat-icon>
      <span>Resume Game</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div class="grid-container" *ngIf="!gameOver">
  <div class="img-container" *ngFor="let cp of currentPair; let i = index">
    <img [src]="cp.imageUrl" [alt]="cp.imageId" (click)="onChooseImage(i)" />
  </div>

</div>
<div class="winner-container" *ngIf="gameOver">
  <app-result [favoriteImg]="chosenImages[0]"></app-result>
  <!-- <div *ngFor="let rec of top3Records">{{rec.imageUrl}} {{rec.imageId}}</div> -->
</div>