.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    // border: 1px solid red;
    height: 6.5vh;

    .title {}

    .round-text {
        width: 50%;
        margin: 0 auto;
        // border: 1px solid red
    }


}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 93.5vh;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 93.5vh;
            object-fit: cover;
        }
    }

}

.winner-container {
    height: 93.5vh;
    width: auto;
    overflow-y: hidden;

    app-result {
        background-color: aqua;
    }
}