<mat-toolbar class="toolbar-grid-container">
  <span class="title" (click)="confirmDialog()">
    This Or That
  </span>
  <span *ngIf="!gameOver && currentRound !== 2" class="center-message">Round of {{currentRound}}</span>
  <span *ngIf="!gameOver && currentRound === 2" class="center-message">Finals</span>
  <span *ngIf="gameOver" class="center-message">Results</span>
  <span class="game-name">{{gameVersion}}</span>
</mat-toolbar>

<div class="grid-container" *ngIf="!gameOver">
  <div class="img-container" *ngFor="let cp of currentPair">
    <img
      [src]="cp.downloadUrl"
      [alt]="cp.imageUrl"
      (click)="onClick(cp)"
      loading="lazy"
    />
  </div>
</div>`

<div class="result-container" *ngIf="gameOver">
  <div class="winner">
    <img [src]="chosenImage.downloadUrl" />
    <div class="image-text-container">
      <div class="image-text">Your 1st</div>
      <div class="win-count-text">Win Count: {{chosenImage.winCount + 1}}</div>
    </div>
  </div>
  <div *ngFor="let rec of top3Records; let i = index" [ngClass]="classNames[i]">
    <img [src]="rec.downloadUrl" />
    <div class="image-text-container">
      <div class="image-text">Overall {{rankings[i]}}</div>
      <div class="win-count-text">Win Count: {{rec.winCount}}</div>
    </div>
  </div>
</div>
