.warning-msg-container {
    text-align:center;
    color: red;
}

.curr_images {
    text-align:center;
    width: 80%;
    margin: auto
}

.upload-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.upload-dropzone {
    width: 80%;
    margin: auto;
}