.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.bg-img {
  opacity: 0.35;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-rows: 2fr 0.5fr 1fr 3fr;
  row-gap: 1vh;
}

.game-title {
  position: relative;
  font-family: "Press Start 2P";
  margin: auto;
  text-align: center;
}

.game-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1vh;
  margin: auto;
  overflow-y: scroll;
}

.custom-games-title-container {
  text-align: center;
  margin-top: 5vh;
  position: relative;
}

.mat-mdc-unelevated-button.mat-primary {
  background-color: #00303b;
  font-size: .75rem;
  width: 80%;
}

.mat-mdc-unelevated-button.mat-secondary {
  background-color: #164c59;
  color: white;
  font-size: .75rem;
  width: 80%;
}

.custom-button {
  margin: auto;
}

.mdc-button {
  background-color: #8fb8c3;
  width: 70%;
  margin: auto;
  font-size: .75rem;
}
