.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .grid-container {
        display: grid; 
        grid-template-rows: 2fr 1fr 1fr 3fr;
        row-gap: 1vh;

        .game-title {
            font-size: 3vw;
        }

        .game-grid-container {
            margin-top: 5vh;
            display: grid; 
            grid-template-columns: repeat(4, 1fr);
            column-gap: 2vw;
        }
    }
}